.pricing-card {
    border-radius: 20px;
    background-image: linear-gradient(180deg, #F87D50 25%, #fafafa 25%);
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
    margin: 6px 6px 6px 10px;


}
.card-title {
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}
.rs_span {
    font-size: 20px;
    margin-right: 59px;
}
.card-body {
    text-align: center;
    padding: 1%;
    font-size: 0.8rem;
    background-color: #ffff;
    margin-top: 20%;
}
.card-title span {
    font-size: 1.1rem;
    color: #fafafa;
    font-weight: 500;
    margin-top: 40px;

}

.price {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.card-body button{
    margin-top: 10px;
    background-color: #F87D50;
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
}
.card-body p {
    padding: 0px 25px;
}